
{% block body %}

<div class="message">
	<h2>Adresse mail destinataire invalide</h2>
	<p>L'adresse mail destinataire <span class="bad">{{ capteur }}</span> entrée n'est pas valide.</p>
</div>

{% endblock %}
