
{% block body %}

<div class="message">
	<h2>{{ title }}</h2>
	<div>
		<p>
			Le capteur d'adresse MAC : <span class="mac_addr">{{ capteur.getAdresseMAC() }}</span>
				vient de bouger. 
			<br>Le nom de l'objet est : <span class="obj_name">{{ capteur.getName() }}</span>.
			<br>Le mouvement a eu lieu à <span class="datetime">{{ capteur.getHorodatage().strftime('%Y-%m-%d %H:%M:%S') }}</span>
		</p>
	</div>
</div>

{% endblock %}
